$black: #000;
$white: #fff;
$lightblack: #2d2d2d;
$light: #f7f0e4;
$red: #e45637;
$green: #48bcb5;
$green-light: #46ccc3;
$disabled: #b8b3ab;
$purple: #783fd3;
$grey: #716f6b;
$blue: #337ac6;
$base-font-size: 16px;
$grey-btn: #b7b2a7;
