<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="" rel="stylesheet" />
</head>
<body>
    <h1>Dashboard</h1>
    <img src="{{ url_for('static', filename='chartEUR.png') }}" alt="Wykres kursu Euro">
    <img src="{{ url_for('static', filename='chartGBP.png') }}" alt="Wykres kursu Funt">
    <img src="{{ url_for('static', filename='chartCHF.png') }}" alt="Wykres kursu Frank">
</body>
</html>
