<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logowanie</title>
    <link href="../assets/css/bundle.css" rel="stylesheet" />
  </head>
  <body>
    <div class="login">
      <h1 class="login__title">Logowanie</h1>
      <form class="login__form" action="/dashboard" method="POST">
        <label class="hide" for="username">Nazwa użytkownika:</label>
        <input
          class="login__form__input"
          type="text"
          id="username"
          placeholder="login"
          name="username"
          required
        />
        <label class="hide" for="password">Hasło:</label>
        <input
          class="login__form__input"
          type="password"
          id="password"
          placeholder="hasło"
          name="password"
          required
        />
        <input class="btn btn--form" type="submit" value="Zaloguj" />
      </form>
    </div>
  </body>
</html>
