<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='assets/css/Bundle.css') }}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <script src="{{ url_for('static', filename='dev/js/index.js') }}"></script>
    <title>Dashboard</title>
    <link href="" rel="stylesheet" />
  </head>
  <body>
    <div class="page_wrapper">
      <div class="sidenav" class="sidenav">
        <div class="sidenav__header">
          <div class="sidenav__logo-section">
            <i class="bx bx-dollar"></i>
            <h1>Dashboard</h1>
          </div>

          <div class="sidenav__link active">
            <i class="bx bx-chart"></i>
            <h3>Wykresy</h3>
          </div>
        </div>
      </div>

      <main class="main">
        <header class="main__header">
          <div class="text">
            <h2>tytuł</h2>
            <p>opis do wykresu</p>
          </div>
        </header>
        <div class="chart_container"></div>
      </main>
    </div>
  </body>
</html>
