html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

table {
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

th,
td {
  border: 1px solid #000;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none;
}

a img {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
}

html.no-scroll {
  overflow: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: #f7f0e4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right bottom, #89ecfb, #4755d4);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
}
@media (min-width: 1280px) {
  .container {
    padding-left: 80px;
  }
}
.container--full {
  max-width: 2560px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 264px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50px;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 18px;
  padding: 0 30px;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s cubic-bezier(0.49, 0.025, 0.49, 1);
}
.btn svg {
  margin-left: 10px;
}
.btn svg path {
  transition: stroke 0.3s cubic-bezier(0.49, 0.025, 0.49, 1);
}
.btn:hover {
  background-color: #783fd3;
  color: #fff;
}
.btn:hover path {
  stroke: #fff;
}

button {
  background: none;
  border: 0;
  padding: 0;
}

pre {
  white-space: normal;
}

.hide {
  display: none;
  opacity: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  outline: 1px solid #0a6eda;
  transition: all 0.3s;
}
.btn--form {
  background-color: #6a94f7;
  color: #eae9fd;
  align-self: end;
  padding: 8px;
}
.btn--form:hover {
  background-color: #487ef4;
  color: #e8e8e8;
}

.login {
  width: 400px;
  margin: auto;
  padding: 36px 48px 48px 48px;
  background-color: #f2efee;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}
.login__title {
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.login__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
.login__form__input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
}
.login__form__input:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(233, 245, 253, 0.5);
}

.page_wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.page_wrapper .sidenav {
  background-color: rgba(242, 242, 242, 0.3647058824);
  height: 100vh;
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.page_wrapper .sidenav__link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 2px;
}
.page_wrapper .sidenav__link:hover {
  background-color: rgba(155, 155, 155, 0.1);
  border-radius: 8px;
}
.page_wrapper .sidenav__link:hover h3, .page_wrapper .sidenav__link:hover i {
  color: black;
}
.page_wrapper .sidenav__link.active {
  font-weight: 700;
  background-color: rgba(155, 155, 155, 0.1);
  border-radius: 8px;
}
.page_wrapper .sidenav__link i {
  color: black;
}
.page_wrapper .sidenav__logo-section {
  height: 60px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  padding-inline: 14px;
}
.page_wrapper .sidenav__logo-section i {
  color: black;
}
.page_wrapper .sidenav__logo-section h1 {
  font-weight: bold;
  font-size: 18px;
}
.page_wrapper .nav_collapse_btn {
  position: absolute;
  top: 72px;
  left: 240px;
  transition: 250ms ease-out;
  background-color: #fff;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(155, 155, 155, 0.1);
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.page_wrapper .nav_collapse_btn i {
  color: black;
  font-size: 18px;
  margin-left: 8px;
}
.page_wrapper .bx {
  font-size: 22px;
  margin-right: 8px;
}
.page_wrapper h3 {
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.page_wrapper .external_link {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 210px;
  top: 266px;
}
.page_wrapper .main {
  padding-inline: 32px;
}
.page_wrapper .main__header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.page_wrapper h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 12px;
  color: black;
}
.page_wrapper p {
  line-height: 145%;
  letter-spacing: 0.25px;
  color: black;
  margin-bottom: 32px;
}
.page_wrapper .chart_container {
  width: 90%;
  max-width: 600px;
  background-color: rgba(155, 155, 155, 0.1);
  border-radius: 12px;
  padding: 30px;
  border: 1px solid rgba(155, 155, 155, 0.1);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1), 0px 1px 5px rgba(0, 0, 0, 0.1);
}