* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  display: block;
  max-width: 100%;
}

html {
  &.no-scroll {
    overflow: hidden;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: $light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right bottom, #89ecfb, #4755d4);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@include scrollbars(0.5em, slategray);

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 1280px) {
    padding-left: 80px;
  }
  padding-left: 30px;
  &--full {
    max-width: 2560px;
  }
}

.btn {
  @include flex-center;
  min-width: 264px;
  height: 60px;
  border: 1px solid $black;
  border-radius: 50px;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 18px;
  padding: 0 30px;
  cursor: pointer;
  color: $black;
  transition: background-color 0.3s ease,
    color 0.3s cubic-bezier(0.49, 0.025, 0.49, 1);
  svg {
    margin-left: 10px;
    path {
      transition: stroke 0.3s cubic-bezier(0.49, 0.025, 0.49, 1);
    }
  }
  &:hover {
    background-color: $purple;
    color: $white;
    path {
      stroke: $white;
    }
  }
}

button {
  background: none;
  border: 0;
  padding: 0;
}



pre {
  white-space: normal;
}
.hide{
  display: none;
  opacity: 0;
}